@import "_partials/variables";
@import "_partials/breakpoints";
@import "_partials/fonts";
@import "_partials/header";

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 100vw;
}

.main-content-wrapper {
  //display: flex here for tablet and desktop
  max-width: 100vw;
  overflow: hidden;
}

.main-video {
  height: 11.437rem;

  &__video {
    width: auto;
    height: 100%;
  }
}
