@import "_partials/variables";
@import "_partials/breakpoints";
@import "_partials/fonts";
@import "_partials/header";
@import "_partials/mainVideo";
@import "_partials/videoDetails";
@import "_partials/comments";
@import "_partials/videosList";

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 100vw;
  font-family: "Avenir Next";
}

.main-content-wrapper {
  //display: flex here for desktop
  max-width: 100vw;
  overflow: hidden;
}

.video-content-wrapper__section-flexer {
  display: flex;
  padding: 0 10.5rem;
}
