@font-face {
  font-family: "Avenir Next";
  src: url(/assets/_GlobalFont/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url(/assets/_GlobalFont/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf);
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url(/assets/_GlobalFont/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf);
}

@font-face {
  font-family: "Avenir Next";
  src: url(/assets/_GlobalFont/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url(/assets/_GlobalFont/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf);
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url(/assets/_GlobalFont/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  height: 10.562rem;
}

@media (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1rem 1.5rem;
    height: 5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__logo-img {
  width: 7.5rem;
  height: 1.5rem;
  margin: 0 auto 0.75rem auto;
}

@media (min-width: 768px) {
  .header__logo-img {
    margin: auto 10.562rem auto 0;
  }
}

@media (min-width: 768px) {
  .header__search-button-img-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 56.119%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.header__input-wrapper {
  position: relative;
}

.header__search-bar {
  background: url("/assets/Icons/PNG/Icon-search.png") 6% 50% no-repeat;
  background-color: #fafafa;
  height: 2.8rem;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 100%;
}

.header__search-bar:focus {
  border-color: #323232;
  outline: none;
}

@media (min-width: 768px) {
  .header__search-bar {
    margin: auto 1.5rem auto 0;
  }
}

.header__button-img-wrapper {
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__button {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  border: none;
  background-color: #0095ff;
  width: 77.78%;
  height: 2.8rem;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.header__button:hover {
  background-color: #0065ad;
}

.header__button-plus-sign {
  font-size: 1.5rem;
  display: inline-block;
  padding-top: 0.1rem;
}

.header__button-text {
  font-size: 0.8rem;
  display: inline-block;
  margin-left: 0.5rem;
  padding-top: 0.3rem;
}

@media (min-width: 768px) {
  .header__button {
    width: 7rem;
  }
}

.header__user-img {
  background: url("/assets/Images/Mohan-muruge.jpg");
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  background-position: left;
  background-size: cover;
  border-radius: 40px;
  margin-left: auto;
}

@media (min-width: 768px) {
  .header__user-img {
    margin-left: 1.5rem;
  }
}

.main-video {
  height: 11.437rem;
  background-color: black;
  position: relative;
}

.main-video__controls-overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 2rem;
  width: 100%;
  bottom: 1rem;
}

.main-video__button {
  border: none;
  background-color: black;
  opacity: 0.5;
  border-radius: 5px;
  padding: 0;
  width: 2.8rem;
  height: 2rem;
}

.main-video__button--play {
  background-image: url("/assets/Icons/PNG/Icon-play.png");
  background-repeat: no-repeat;
  background-position: center;
}

.main-video__button--fullscreen {
  background-image: url("/assets/Icons/PNG/Icon-fullscreen.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 2.5rem;
}

.main-video__button--volume {
  background-image: url("/assets/Icons/PNG/Icon-volume.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 2.5rem;
}

.main-video__time-bar {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  height: 2rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-video__time-line {
  opacity: 1;
  height: 0.2rem;
  border: 2px solid black;
  border-radius: 2px;
  width: 80%;
}

.main-video__fullscreen-volume-buttons {
  background-color: black;
  opacity: 0.5;
  border-radius: 5px;
  width: 5.5rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-video__video {
  width: auto;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.video-details {
  padding: 2rem 1rem 2.5rem 1rem;
  color: #323232;
}

.video-details__title-author-stats-wrapper {
  border-bottom: 1px solid #afafaf;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

.video-details__title {
  font-family: "Avenir Next Bold";
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

.video-details__author-date-wrapper {
  margin-bottom: 2rem;
}

.video-details__author {
  font-family: "Avenir Next Demi Bold";
  font-size: 0.875rem;
}

.video-details__date {
  margin-left: 0.5rem;
  color: #afafaf;
  font-size: 0.875rem;
}

.video-details__stats-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video-details__views-wrapper, .video-details__likes-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video-details__views-icon {
  width: 22px;
  height: 16px;
}

.video-details__likes-icon {
  width: 17px;
  height: 16px;
}

.video-details__views-count, .video-details__likes-count {
  font-size: 0.875rem;
  display: inline-block;
  margin-left: 0.5rem;
}

.video-details__description {
  font-size: 0.78rem;
  line-height: 1.125rem;
  margin: 0;
}

.comments-section {
  padding: 0 1rem;
  color: #323232;
  margin-bottom: 2.5rem;
  font-family: "Avenir Next";
}

.comments-section__comments-count {
  display: inline-block;
  font-family: "Avenir Next Demi Bold";
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

.comments-section__form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments-section__form-user-img {
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  background-image: url(/assets/Images/Mohan-muruge.jpg);
  background-position: left;
  background-size: cover;
  border-radius: 40px;
  margin-top: 1.3rem;
  margin-right: 0.8rem;
}

.comments-section__form-label {
  display: inline-block;
  font-family: "Avenir Next Demi Bold";
  text-transform: uppercase;
  color: #afafaf;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.comments-section__form-input {
  font-family: "Avenir Next";
  color: #323232;
  font-size: 0.812rem;
  line-height: 1.125rem;
  background-color: #fafafa;
  width: 100%;
  border-radius: 4px;
  height: 6rem;
  padding: 0.7rem 0.7rem;
  border: solid 2px #0095ff;
  margin-bottom: 1rem;
  resize: none;
}

.comments-section__form-input:focus {
  border-color: #323232;
  outline: none;
}

.comments-section__form-button {
  font-family: "Avenir Next Demi Bold";
  height: 3rem;
  width: 100%;
  background-color: #0095ff;
  color: white;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  display: block;
  margin-bottom: 1.5rem;
}

.comments-section__form-button:hover {
  background-color: #0065ad;
}

.comments-section__comments-ul {
  margin: 0 auto;
  width: 100%;
  max-width: 30.625rem;
  padding-left: 0;
}

.comments-section__comment-li-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  min-width: 18rem;
  padding: 1.5rem 0;
  font-size: 0.875rem;
}

.comments-section__comment-user-img {
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  background-color: #e1e1e1;
  border-radius: 40px;
  margin-right: 0.8rem;
}

.comments-section__comment-user-timestamp-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comments-section__comment-user {
  font-family: "Avenir Next Demi Bold";
  color: #323232;
  display: inline-block;
}

.comments-section__comment-timestamp {
  display: inline-block;
  color: #afafaf;
}

.comments-section__comment-content {
  margin-bottom: 0;
  line-height: 1.125rem;
}

.videos-list {
  padding: 0 1rem;
  color: #323232;
}

.videos-list__label {
  color: #afafaf;
  text-transform: uppercase;
  font-size: 0.812rem;
  margin-bottom: 2.5rem;
}

.videos-list__ul {
  list-style: none;
  padding: 0;
}

.videos-list__video-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4.375rem;
  margin-bottom: 1.5rem;
}

.videos-list__video-thumbnail-container {
  max-width: 41.666%;
  height: 4.375rem;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}

.videos-list__video-thumbnail {
  max-width: 100%;
  border-radius: 5px;
}

.videos-list__video-title {
  margin: 0.1rem 0 1rem 1rem;
  font-size: 0.812rem;
  line-height: 1.125rem;
  font-family: "Avenir Next Demi Bold";
}

.videos-list__video-author {
  margin: 0 0 0 1rem;
  font-size: 0.812rem;
  line-height: 1.125rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 100vw;
  font-family: "Avenir Next";
}

.main-content-wrapper {
  max-width: 100vw;
  overflow: hidden;
}
/*# sourceMappingURL=styles.css.map */