.videos-list {
  padding: 0 1rem;
  color: $nav-text-black;

  &__label {
    color: $darker-gray;
    text-transform: uppercase;
    font-size: 0.812rem;
    margin-bottom: 2.5rem;

    @include desktop {
      margin-top: 2.5rem;
    }
  }

  &__ul {
    list-style: none;
    padding: 0;
  }

  &__video-wrapper {
    display: flex;
    height: 4.375rem;
    margin-bottom: 1.5rem;
    max-width: 20rem;
    text-decoration: none;
    color: $nav-text-black;

    @include desktop {
      margin-bottom: 2.5rem;
    }
  }

  &__video-thumbnail-container {
    max-width: 41.666%;
    height: 4.375rem;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
  }

  &__video-thumbnail {
    min-width: 7.5rem;
    max-width: 100%;
    border-radius: 5px;
    transform: scale(1.2);
  }

  &__video-title {
    margin: 0.1rem 0 1rem 1rem;
    font-size: 0.812rem;
    line-height: 1.125rem;
    font-family: "Avenir Next Demi Bold";

    @include desktop {
      font-size: 1rem;
    }
  }

  &__video-author {
    margin: 0 0 0 1rem;
    font-size: 0.812rem;
    line-height: 1.125rem;
  }
}
